6file/out2.txt
6file/out7.txt
out*
*.osm
rogaikpyta/*
6file/.~lock.salaries14.xlsx#
6file/.vscode/settings.json
7html/18.py
7html/0_out17.html
7html/1_out17.html
7html/2_out17.html
7html/3_out17.html
7html/New-York.html
7html/3.html
7html/4.html
7html/5.html
7html/19.csv
